body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#modal {
    margin: auto;
    text-align: center;
    display: inline-block;
    background: rgb(219, 218, 218);
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.traffic__lights {
    margin: auto;
    width: 60px;
    height: 200px;
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}

.traffic__light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: grey;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.traffic__btn {
    border-radius: 10px;
    cursor: pointer;
}